.hero{
  &__background{
    background: radial-gradient(58.73% 541.94% at 75.14% 62.23%, #A6A9FF 0%, #6F73EE 100%);
    border-radius: 10px;
    width: calc(100% - 35px);
    margin: 0 auto;
  }
  &__new-shield{
    display: inline-block;
    color: $colorWhite;
    font-size: 14px;
    background: transparent;
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid $colorWhite;
    margin-bottom: 40px;
  }
  &__title{
    font-size: 35px;
    font-weight: 600;
    color: $colorWhite;
    max-width: 615px;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  &__subtitle{
    font-size: 20px;
    color: $colorWhite;
    margin-bottom: 25px;
  }
  &__button{
    color: $colorPurple;
    font-size: 16px;
    padding: 15px 25px;
    background-color: $colorWhite;
    border-radius: 5px;
    border: none;
    outline: none;
    border: 1px solid $colorWhite;
    cursor: pointer;
    transition: color 0.2s linear, background 0.2s linear;
    &:hover,
    &:focus{
      color: $colorWhite;
      background-color: transparent;
    }
  }
  &__kirin{
    position: absolute;
    bottom: 0;
    right: 42px;
  }
  &__samokat{
    position: absolute;
    bottom: 0;
    right: 30px;
  }
  //кастомизация swiper в секции hero
  .swiper-slide{
    position: relative;
    padding: 31px 0 103px 0;
    overflow: hidden;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after{
    content: '';
  }
  .swiper-button-next{
    background-color: transparent;
    border: none;
    background-image: url('../img/hero-next-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    left: 129px;
    top: auto;
    bottom: 31px;
    transform: translateX(-2040%);
    left: 50%;
    outline: none;
    transition: background 0.2s linear;
    &:hover,
    &:focus{
      background-image: url('../img/hero-next-arrow-white.svg');
    }
  }
  .swiper-button-prev{
    background-color: transparent;
    border: none;
    background-image: url('../img/hero-prev-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    top: auto;
    bottom: 31px;
    transform: translateX(-2450%);
    left: 50%;
    transition: background 0.2s linear;
    outline: none;
    &:hover,
    &:focus{
      background-image: url('../img/hero-prev-arrow-white.svg');
    }
  }
  .swiper-pagination{
    color: $colorWhite;
    top: auto;
    bottom: 44px;
    width: fit-content;
    transform: translateX(-1800%);
    left: 50%;
  }
  .swiper-scrollbar{
    display: none;
  }
}
.box-shield{
  position: absolute;
  right: 534px;
  bottom: 100px;
  &__testdrive{
    padding: 13px 13px 13px 45px;
    border-radius: 5px;
    background: $colorBlueIney;
    width: fit-content;
    color: $colorWhite;
    font-weight: 500;
    font-size: 14px;
    position: relative;
    background-image: url('../img/light.svg');
    background-repeat: no-repeat;
    background-position: left 10px center;
    animation: light 2s infinite  ease-in;
    &:hover{
      background-position: 23px;
    }
    &::after{
      content: '';
      position: absolute;
      top: -1px;
      bottom: -1px;
      left: -1px;
      right: -1px;
      background: linear-gradient(35deg, $colorBlueIney,$colorBlueVasilek);
      border-radius: 5px;
      z-index: -1;
    }
  }
  &__free{
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: $colorPurple;
    padding: 5px 11px;
    background-color: $colorWhite;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    top: -5px;
    left: 100px;
    
  }
}
.box-line-pick{
  position: absolute;
  right: 423px;
  bottom: 127px;
  height: 30px;
  overflow: visible;
  &__circle-right,
  &__circle-left{
    animation: widthCircle 1s linear infinite alternate;
  }
  &__line{
    animation: lineGo 2s linear infinite;
  }
}
@keyframes lineGo{
  0%{
    stroke-dashoffset: 3;
  }
  100%{
    stroke-dashoffset: 40;
  }
}
@keyframes widthCircle{
  0%{
    r: 6.5;
  }
  100%{
    r:8;
  }
}
@keyframes light {
  20%, 100%{
    background-position: left 10px center;
  }
  0%{
    background-position: 15px -1px;
  }
  10%{
    background-position: left bottom;
  }
}