@media screen and(max-width: 1350px){
  .delivery-free__img{
    width: 580px;
    top: 130px;
    left: -10px;
  }
  .official-dealer .testdrive{
    width: calc(100% - 60%);
  }
  .video-observ .swiper-button-prev,
  .articles .swiper-button-prev{
    top: auto;
    bottom: 0;
    left: 48%;
    transform: rotate(-180deg) translateX(50%);
    width: 40px;
    height: 40px;
  }
  .video-observ .swiper-button-next,
  .articles .swiper-button-next{
    top: auto;
    bottom: 0;
    right: 48%;
    transform: translateX(50%);
    width: 40px;
    height: 40px;
  }
  .articles .swiper{
    width: 100%;
  }

}
@media screen and(max-width: 1200px){
  .hero__samokat{
    width: 400px;
  }
  .box-line-pick{
    right: 316px;
  }
  .box-shield{
    right: 425px;
  }
  .hero__title{
    font-size: 25px;
  }
  .selections__wrapper{
    flex-wrap: wrap;
  }
  .selections__left,
  .selections__right{
    width: 100%;
    background-size: contain;
  }
  .selections__left{
    margin-bottom: 20px;
  }
  .reviews__wrapper{
    overflow: auto;
  }
  .video-observ .swiper-button-prev,
  .articles .swiper-button-prev{
    left: 40%;
  }
  .video-observ .swiper-button-next,
  .articles .swiper-button-next{
    right: 40%;
  }
  .footer__list--margin,
  .footer__list--margin-min{
    margin-right: 30px;
  }
  .footer-adreses{
    width: 500px;
  }
  .team-service .swiper{
    width: auto;
  }
  .cooperation-hero__container{
    display: block;   
  }
  .cooperation-hero__content{
    margin-bottom: 30px;
  }
  .cooperation-hero{
    .form{
      width: 100%;
    }
  }
  .cooperation-benefits-list{
    width: 100%;
  }
}
@media screen and(max-width: 1100px){
  .official-dealer .testdrive{
    display: none;
  }
  .official-dealer__textbox{
    width: 100%;
    margin: 0;
  }
  .official-dealer__wrapper{
    margin-bottom: 20px;
  }
  .official-dealer__link-more{
    display: block;
  }
  .subscribe__title{
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
  }
  .subscribe__form{
    width: 100%;
  }
  .footer__wrapper{
    flex-wrap: wrap;
  }
  .footer__lists{
    margin-bottom: 20px;
    flex-wrap: wrap;
    margin-right: 20px;
  }
  .list-social{
    margin-left: 0;
  }
  .footer__social{
    flex-wrap: wrap;
  }
  .list-apps,
  .list-social{
    display: none !important;
  }
  .list-social-mobile{
    display: grid;
    width: 100%;
    margin-top: 20px;
    grid-template-columns: repeat(auto-fill,minmax(150px, 1fr));
    grid-gap: 30px;
  }
  .diagnostic__imgbox {
    display: none;
  }
}
@media screen and(max-width: 1000px){
  .title-h2{
    font-size: 25px;
  }
  .nav-list__item:not(:last-child) {
    margin-right: 25px;
  }
  .search-form__input{
   width: calc(250 / 400 * 100%);
  }
  .actions-user__link{
    padding: 10px;
  }
  .search-form__select{
    min-width: 90px;
    margin-right: 10px;
  }
  .logo--header{
    margin-right: 10px;
  }
  .button-catalog--header{
    margin-right: 10px;
  }
   .hero__kirin,
   .box-shield,
   .box-line-pick,
   .hero__button{
     display: none;
  }
  .hero .swiper-slide{
    padding: 31px 0;
  }
  .hero__title{
    max-width: 350px;
  }
  .hero .swiper-button-prev,
  .hero .swiper-button-next{
    bottom: 12px;
  }
  .info-block__line--warranty,
  .info-block__line--installment{
    margin-right: 0;
  }
  .info-block__line--reviews{
    margin-left: 0;
  }
  .info-block{
    padding-bottom: 20px;
  }
  .info-block__wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,auto));
    grid-gap: 30px;
  }
  .product-set__title{
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .product-set__head-wrapper{
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .product-set__buttons{
    flex-wrap: wrap;
  }
  .product-set__button{
    margin-bottom: 10px;
  }
  .delivery-free{
    padding: 20px;
  }
  .delivery-free__img{
    display: none;
  }
  .delivery-free__content-box{
    margin: 0;
  }
  .delivery-free__title{
    font-size: 20px;
  }
  .delivery-free__shield,
  .delivery-free__title{
    margin-bottom: 10px;
  }
  .accordion{
    width: 100%;
    margin: 0;
  }
  .service-hero__img{
    display: none;
  }
  .service-hero__left{
    width: 100%;
  }
  .setting{
    display: none;
  }
  .whithout__wrapper{
    display: block;
  }
  .whithout__head{
    display: block;
    margin-bottom: 30px;  
  }
  .whithout__head-wrap{
    margin-bottom: 30px;
  }
  .whithout__left{
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .whithout__right{
    width: 100%;
    padding-bottom: 0;
  }
  .map-delivery__svg{
    height: 500px;
  }
  .dropship-stages__item::before{
    right: -30px;
  }
  .dropship-stages__item--line5::before{
    right: 41%;
  }
  .dropship-stages__item--line4::before{
    right: 38%;
  }
  .dropship-stages__item--line6::before{
    left: -25px;
  }
}
@media screen and(max-width: 900px){
  .actions-user{
    display: none;
  }
  .nav-list__link-text{
    font-size: 12px;
  }
  .modal-callback__right{
    display: none;
  }
  .modal-callback__left{
    padding: 20px;
    background-image: url(../img/ellips-decor.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
  }
  .modal-callback__left,
  .modal-callback__form{
    width: 100%;
  }
  .modal-callback__button-absolute{
    right: 5px;
    top: 5px;
  }
  .modal-callback__title,
  .modal-callback__subtitle{
    margin-bottom: 10px;
  }

}

@media screen and(max-width: 768px) {
  .product-set,
  .selections,
  .popular-category,
  .offers,
  .reviews,
  .video-observ,
  .faq,
  .popular-buy,
  .footer__wrapper,
  .service-hero__left,
  .diagnostic,
  .repair-cost,
  .determin,
  .official-magazine,
  .whithout,
  .delivery-map{
    padding: 20px 0;
  }
  .reviews{
    margin-bottom: 0;
    &__viewall{
      margin-bottom: 20px;
    }
  }
  .delivery-free,
  .video,
  .determin{
    margin: 20px auto;
  }
  .video{
    height: 300px;
  }
  .video__play{
    width: 90px;
    height: 90px;
  }
  .title-h3{
    font-size: 18px;
  }
  .header__top,
  .header__middle,
  .header__bottom{
    display: none;
  }
  .header-mobile{
    display: block;
  }
  .hero .swiper-slide{
    padding: 15px 0;
  }
  .hero__title{
    font-size: 12px;
    margin-bottom: 5px;
    max-width: 162px;
  }
  .hero__subtitle{
    font-size: 10px;
    margin-bottom: 0;
  }
  .hero__new-shield{
    margin-bottom: 10px;
  }
  .hero__samokat{
    width: 168px;
    right: -40px;
  }
  .hero .swiper-button-prev,
  .hero .swiper-button-next{
    display: none;
  }
  .hero .swiper-pagination{
    display: block;
  }
  .info-block__wrapper{
    grid-gap: 15px;
  }
  .info-block__title{
    font-size: 20px;
  }
  .selections__img {
    display: none;
  }
  .selections__left,
  .selections__right{
    background-image: none;
    padding: 20px;
  }
  .popular-category__title{
    margin-bottom: 20px;
  }
  .popular-category__link-overlay{
    height: 280px;
  }
  .popular-category__list{
    grid-gap: 10px;
  }
  .official-dealer{
    padding: 15px;
  }
  .offers__subtitle,
  .offers-tabs__buttons{
    margin-bottom: 20px;
  }
  .offers-tabs__content{
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }
  .offers-tabs__card--incatalog{
    background-size: 38%;
    background-position: right bottom;
  }
  .video-observ__head-wrap{
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  .video-observ__subtitle{
    margin-bottom: 20px;
  }
  .video-observ .swiper{
    width: 100%;
    height: auto;
    padding: 0;
  }
  .video-observ .swiper-slide{
    width: 270px;
    height: 300px;
  }
  .video-observ .swiper-slide-active img{
    height: 70%;
  }
  .video-observ__play{
    width: 40px;
    height: 40px;
    top: 110px;
  }
  .video__svg{
    width: 10px;
    height: 10px;
  }
  .articles__title{
    margin-bottom: 20px;
  }
  .faq__title,
  .popular-buy__title{
    margin-bottom: 20px;
  }
  .subscribe__form{
    flex-wrap: wrap;
  }
  .subscribe__input{
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .subscribe__button{
    margin: 0 auto;
  }
  .footer-adreses{
    width: 100%;
    grid-template-columns: repeat(auto-fill,minmax(270px,1fr));
  }
  .footer__list--margin{
    margin-bottom: 20px;
  }
  .privacy-policy__list,
  .privacy-policy__wrapper,
  .privacy-policy__chat{
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .service-hero__title{
    font-size: 25px;
  }
  .diagnostic__video-bg{
    flex-wrap: wrap;
  }
  .diagnostic__list{
    width: 100%;
    margin: 0;
    text-align: left;
    &--left{
      margin-bottom: 20px;
    }
  }
  .diagnostic__list--right li:not(:last-child) {
    margin-bottom: 20px;
  }
  .diagnostic__title{
    margin-bottom: 20px;
  }
  .repair-cost-tabs__goods-titles{
    display: none;
  }
  .controllers{
    width: 100%;
  }
  .repair-cost-tabs__list{
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .repair-cost-tabs__item{
      width: 100%;
      button{
        width: 100%;
      }
  }
  .repair-cost-tabs__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .determin__imgbox{
    display: none;
  }
  .determin__content{
    width: 100%;
  }
  .gidroizol__img{
    display: none;
  }
  .team-service__wrapper{
    flex-wrap: wrap;
  }
  .team-service__spec{
    width: 100%;
  }
  .team-service__spec:not(:last-child){
    margin-bottom: 20px;
  }
  .team-service__spec{
    background-position: left 14px center;
    background-size: 40px 40px;
    padding-left: 80px;
  }
  .team-service .swiper-button-next,
  .team-service .swiper-button-prev{
    width: 40px;
    height: 40px;
  }
  .official-magazine__head{
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .official-magazine__wrapper{
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .official-magazine__img--big,
  .official-magazine__img--small{
    grid-column: auto;
  }
  .cooperation-hero__title{
    font-size: 25px;
  }
  .whithout .swiper-button-prev,
  .whithout .swiper-button-next{
    width: 45px;
    height: 45px;
  }
  .map-delivery__svg{
    height: 200px;
    padding: 0 20px;
  }
  .dropship-stages{
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
  }
  .dropship-stages__imgbox{
    width: 55px;
    height: 55px;
    img{
      width: 25px;
    }
  }
  .dropship-stages__item::before{
    width: 31px;
  }
  .dropship-stages__item--mobil3{
    grid-column: 2;
  }
  .dropship-stages__item--mobil4{
    grid-column: 2;
  }
  .dropship-stages__item--mobil5{
    grid-column: 2;
    grid-row: 4;
  }
  .dropship-stages__item--mobil6{
    grid-column: 1;
    grid-row: 4;
  }
  .dropship-stages__item--mobil7{
    grid-column: 1;
    grid-row: 3;
  }
  .dropship-stages__item--mobil8{
    grid-column: 1;
    grid-row: 2;
  }
  .dropship-stages__item--before1::before{
    right: -18px;
    top: 25px;
  }
  .dropship-stages__item--before2::before{
    right: 50%;
    top: 109px;
    transform: rotate(90deg) translateY(-175%);
  }
  .dropship-stages__item--before3::before{
    right: 50%;
    top: 120px;
    transform: rotate(90deg) translateY(-175%);
  }
  .dropship-stages__item--before4::before{
    right: 50%;
    top: 111px;
    transform: rotate(90deg) translateY(-175%);
  }
  .dropship-stages__item--before5::before{
    left: -17px;
    top: 24px;
  }
  .dropship-stages__item--before6::before,
  .dropship-stages__item--before7::before{
    top: -30px;
    left: 50%;
    transform: rotate(270deg) translateY(-158%);
  }
  .dropship-stages__item--before8::before{
    top: -31px;
    transform: rotate(270deg) translateY(-148%);
    left: 50%;
  }
  .development-plan__wrapper{
    display: block;
  }
  .development-plan{
    .form{
      width: 100%;
    }
  }
  .development-plan__left{
    margin-bottom: 30px;
  }
  .filter{
    display: none;
  }
  .filter-page__cards{
    max-width: 100%;
    margin: 0;
  }
  .filter-page__title{
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .filter-page__sort-text{
    margin-bottom: 10px;
  }
  .filter-page__sort{
    .choices{
      width: 100%;
      &:not(:last-child){
        margin-bottom: 10px;
      }
    }
  }
}
