$colorGrey600: #5d667b;
$colorBlack: #282739;
$colorYellowGreen:#75D14A;
$colorPurple:#6F73EE;
$colorAspidBlue:#008DE0;
$colorLavanda:#F4F7FB;
$colorWhite: #ffffff;
$colorBlueHover:#8185F9;
$colorBlueIney:#ACAEFB;
$colorBlueVasilek:#B2B5ED;
$colorWhiteSnow: #fff1f2;
$colorGolubinoGrey:#5D6C7B;
$colorRedSienna:#EE685F;
$colorGreenYellow: #75D14A;
$colorBlueBledni: #F3F4F6;
$colorBlueBledniVery:#EAEBED;